<h1>{L_COMMETCHAT_SETTINGS}</h1>
<p>{L_COMMETCHAT_SETTINGS_EXPLAIN}<br /></p>

<form action="{S_ACTION}" method="post">

<table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<th class="thHead" colspan="2">{L_COMMETCHAT_SETTINGS}</th>
	</tr>
	<tr>
		<td class="row1"><p><b>{L_COMMETCHAT_APP_ID}:</b><br><span class="gensmall">{L_COMMETCHAT_APP_ID_EXPLAIN}</span></p></td>
		<td class="row2"><input type="text" maxlength="255" size="50" name="app_id" value="{COMMETCHAT_APP_ID}" /></td>
	</tr>
	<tr>
		<td class="chatBottom" colspan="2" align="center">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" />
			&nbsp;&nbsp;
			<input type="reset" value="{L_RESET}" class="liteoption" />
		</td>
	</tr>
</table>

</form>

<br clear="all" />
